@page
@model DysFin.Pages.Kontrole.NieprawidlowosciModel

<div class="page-buttons">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <!--<a class="page-back" href="#"><</a>-->
                <h2 class="page-subtitle">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 page-content">
            <div class="box-section">
                <h3 class="bs-header">Nieprawidłowości lub zalecenia</h3>
                <form method="post">
                    <div class="bs-content">
                        <div class="form-section">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="table-responsive">
                                <table id="Nieprawidlowosci" class="table table-style-2">
                                    <thead>
                                        <tr>
                                            <th style="width: 30%">
                                                @Html.DisplayNameFor(model => model.Nieprawidlowosc.Opis)
                                            </th>
                                            <th style="width: 25%">
                                                @Html.DisplayNameFor(model => model.Nieprawidlowosc.OpisPlanowanychDzialan)
                                            </th>
                                            <th style="width: 10%; min-width: 205px">
                                                @Html.DisplayNameFor(model => model.Nieprawidlowosc.PlanowanaData)
                                            </th>
                                            <th style="width: 25%">
                                                @Html.DisplayNameFor(model => model.Nieprawidlowosc.OpisZrealizowanychDzialan)
                                            </th>
                                            <th style="width: 10%; min-width: 200px">
                                                @Html.DisplayNameFor(model => model.Nieprawidlowosc.DataZakonczeniaDzialan)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <textarea asp-for="Nieprawidlowosc.Opis" class="text-input"></textarea>
                                                <span asp-validation-for="Nieprawidlowosc.Opis" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <textarea asp-for="Nieprawidlowosc.OpisPlanowanychDzialan" class="text-input"></textarea>
                                                <span asp-validation-for="Nieprawidlowosc.OpisPlanowanychDzialan" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input type="text" asp-for="Nieprawidlowosc.PlanowanaData" asp-format="{0:d}" class="text-input input-xxs datepicker" />
                                                <span asp-validation-for="Nieprawidlowosc.PlanowanaData" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <textarea asp-for="Nieprawidlowosc.OpisZrealizowanychDzialan" class="text-input"></textarea>
                                                <span asp-validation-for="Nieprawidlowosc.OpisZrealizowanychDzialan" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input type="text" asp-for="Nieprawidlowosc.DataZakonczeniaDzialan" asp-format="{0:d}" class="text-input input-xxs datepicker" />
                                                <span asp-validation-for="Nieprawidlowosc.DataZakonczeniaDzialan" class="text-danger"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input hidden asp-for="KontrolaId" value="@ViewBag.KontrolaId" />
                    </div>
                    <div class="bs-footer">
                        <div class="form-row">
                            <input class="btn btn-default pull-right" type="submit" value="Zapisz" />
                            <a asp-page="./Index" class="pull-right">Powrót do listy</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
