@page
@model DysFin.Pages.Administracja.JednostkiKontrolujace.IndexModel

@{
    Layout = "_LayoutPanel";
    ViewData["Title"] = "Jednostki kontrolujące - lista";
}
<div class="page-buttons">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--<a class="page-back" href="#"><</a>-->
                <h2 class="page-subtitle">@ViewData["Title"]</h2>
                <a asp-page="Create" type="button" class="btn btn-default btn-partwide">Dodaj</a>
                <form method="post" asp-page-handler="ExportExcel">
                    <button class="btn">Eksport</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 page-content">
            <form class="gray-form" asp-page="./Index" method="get">
                <h1>Wyszukiwanie:</h1>
                <div class="form-row row">
                    <div class="col-md-5">
                        <label asp-for="CurrentFilter" class="input-label text-right">@Html.DisplayNameFor(model => model.JednostkaKontrolujaca[0].Nazwa)</label>
                        <input asp-for="CurrentFilter" type="text" class="text-input" name="SearchString" value="@Model.CurrentFilter" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-red btn-search btn-wide pull-right" type="submit">Szukaj</button>
                        <a asp-page="./Index" class="btn btn-search btn-wide pull-right">Resetuj</a>
                    </div>
                </div>
            </form>
            <div class="table-responsive table-style-3-wrap">
                <table id="main-table" class="table table-style-3 table-moreless">
                    <thead>
                        <tr>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.NazwaSort"
                                   asp-route-currentFilter="@Model.CurrentFilter">
                                    @Html.DisplayNameFor(model => model.JednostkaKontrolujaca[0].Nazwa)
                                </a>
                            </th>
                            <th style="min-width: 90px;">Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.JednostkaKontrolujaca)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nazwa)
                                </td>
                                <td>
                                    <a class="btn btn-xs" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i> Edytuj</a> @*|
                                        <a asp-page="./Details" asp-route-id="@item.Id">Szczegóły</a> |
                                        <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="bs-footer">
                    <div class="form-row">
                        @{
                            var prevHidden = !Model.JednostkaKontrolujaca.HasPreviousPage ? "hidden" : "";
                            var nextHidden = !Model.JednostkaKontrolujaca.HasNextPage ? "hidden" : "";
                            var thirdHidden = !Model.JednostkaKontrolujaca.HasThirdPage ? "hidden" : "";
                            var fourthHidden = !Model.JednostkaKontrolujaca.HasFourthPage ? "hidden" : "";
                            var fifthHidden = !Model.JednostkaKontrolujaca.HasFifthPage ? "hidden" : "";
                        }

                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination">
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       class="@prevHidden"
                                       aria-label="First">
                                        «
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.JednostkaKontrolujaca.PageIndex - 1)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       class="@prevHidden"
                                       aria-label="Previous">
                                        @(Model.JednostkaKontrolujaca.PageIndex - 1)
                                    </a>
                                </li>
                                <li><span class="active">@Model.JednostkaKontrolujaca.PageIndex</span></li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.JednostkaKontrolujaca.PageIndex + 1)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       class="@nextHidden"
                                       aria-label="Next">
                                        @(Model.JednostkaKontrolujaca.PageIndex + 1)
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.JednostkaKontrolujaca.PageIndex + 2)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       class="@thirdHidden"
                                       aria-label="Third">
                                        @(Model.JednostkaKontrolujaca.PageIndex + 2)
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.JednostkaKontrolujaca.PageIndex + 3)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       class="@fourthHidden"
                                       aria-label="Fourth">
                                        @(Model.JednostkaKontrolujaca.PageIndex + 3)
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.JednostkaKontrolujaca.PageIndex + 4)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       class="@fifthHidden"
                                       aria-label="Fifth">
                                        @(Model.JednostkaKontrolujaca.PageIndex + 4)
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.JednostkaKontrolujaca.TotalPages)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       class="@nextHidden"
                                       aria-label="Last">
                                        »
                                    </a>
                                </li>
                            </ul>
                            <a href="/Administracja/Panel" class="btn btn-default pull-right powrot">Wróć</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
