@page
@model DysFin.Pages.Administracja.Uzytkownicy.IndexModel

@{
    Layout = "_LayoutPanel";
    ViewData["Title"] = "Użytkownicy - lista";
}
<div class="page-buttons">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--<a class="page-back" href="#"><</a>-->
                <h2 class="page-subtitle">@ViewData["Title"]</h2>
                <a asp-page="Create" type="button" class="btn btn-default btn-partwide">Dodaj</a>
                <form method="post" asp-page-handler="ExportExcel">
                    <button class="btn">Eksport</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 page-content">
            <form class="gray-form" asp-page="./Index" method="get">
                <h1>Wyszukiwanie:</h1>
                <div class="form-row row">
                    <div class="col-md-3">
                        <label asp-for="CurrentFilter" class="input-label text-right">@Html.DisplayNameFor(model => model.Uzytkownik[0].Login) / @Html.DisplayNameFor(model => model.Uzytkownik[0].Nazwisko)</label>
                        <input asp-for="CurrentFilter" type="text" class="text-input" name="SearchString" value="@Model.CurrentFilter" />
                    </div>
                    <div class="col-md-3">
                        <label asp-for="PoziomUzytkownika" class="input-label text-right">@Html.DisplayNameFor(model => model.Uzytkownik[0].PoziomUzytkownika)</label>
                        <select asp-for="PoziomUzytkownika" class="text-input" asp-items="ViewBag.PoziomUzytkownikaId" value="@Model.CurrentFilterPZ"></select>
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-md-6">
                        <label asp-for="Komorka" class="input-label text-right">@Html.Raw("Jednostka odp. maj.")</label>
                        <select asp-for="Komorka" class="text-input" asp-items="ViewBag.KomorkaId" value="@Model.CurrentFilterKomorka"></select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-red btn-search btn-wide pull-right" type="submit">Szukaj</button>
                        <a asp-page="./Index" class="btn btn-search btn-wide pull-right">Resetuj</a>
                    </div>
                </div>
            </form>
            <div class="table-responsive table-style-3-wrap">
                <table id="main-table" class="table table-style-3 table-moreless">
                    <thead>
                        <tr>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.LoginSort"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                   asp-route-komorka="@Model.CurrentFilterKomorka">
                                    @Html.DisplayNameFor(model => model.Uzytkownik[0].Login)
                                </a>
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.PoziomSort"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                   asp-route-komorka="@Model.CurrentFilterKomorka">
                                    @Html.DisplayNameFor(model => model.Uzytkownik[0].PoziomUzytkownika)
                                </a>
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.ImieSort"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                   asp-route-komorka="@Model.CurrentFilterKomorka">
                                    @Html.DisplayNameFor(model => model.Uzytkownik[0].Imie)
                                </a>
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.NazwiskoSort"
                                   asp-route-currentFilter="@Model.CurrentFilter"
                                   asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                   asp-route-komorka="@Model.CurrentFilterKomorka">
                                    @Html.DisplayNameFor(model => model.Uzytkownik[0].Nazwisko)
                                </a>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Uzytkownik[0].Status)
                            </th>
                            <th style="min-width: 90px;">Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Uzytkownik)
                        {
                            <tr class="tr-toggle">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Login)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PoziomUzytkownikaId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Imie)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nazwisko)
                                </td>
                                <td>
                                    @if (item.Status)
                                    {
                                        <i class="fa fa-check" style="color: #39C70A"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-remove" style="color: #DD1B1B"></i>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-xs" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i> Edytuj</a>
                                </td>
                            </tr>
                            <tr class="tr-more">
                                <td colspan=13>
                                    <div class="trm-part">
                                        <div><strong>@Html.DisplayNameFor(model => model.Uzytkownik[0].Telefon)</strong></div>
                                        <div>@Html.DisplayFor(modelItem => item.Telefon)</div>
                                    </div>
                                    <div class="trm-part">
                                        <div><strong>@Html.DisplayNameFor(model => model.Uzytkownik[0].Email)</strong></div>
                                        <div>@Html.DisplayFor(modelItem => item.Email)</div>
                                    </div>
                                    @*<div class="trm-part">
                                        <div><strong>@Html.DisplayNameFor(model => model.Uzytkownik[0].Jednostka)</strong></div>
                                        <div>@Html.DisplayFor(modelItem => item.Jednostka.Nazwa)</div>
                                    </div>*@
                                    <div class="trm-part">
                                        <div><strong>@Html.DisplayNameFor(model => model.Uzytkownik[0].KomorkaId)</strong></div>
                                        <div>@Html.DisplayFor(modelItem => item.Komorka.Nazwa)</div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="bs-footer">
                    <div class="form-row">
                        @{
                            var prevHidden = !Model.Uzytkownik.HasPreviousPage ? "hidden" : "";
                            var nextHidden = !Model.Uzytkownik.HasNextPage ? "hidden" : "";
                            var thirdHidden = !Model.Uzytkownik.HasThirdPage ? "hidden" : "";
                            var fourthHidden = !Model.Uzytkownik.HasFourthPage ? "hidden" : "";
                            var fifthHidden = !Model.Uzytkownik.HasFifthPage ? "hidden" : "";
                        }

                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination">
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                       asp-route-komorka="@Model.CurrentFilterKomorka"
                                       class="@prevHidden"
                                       aria-label="First">
                                        «
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.Uzytkownik.PageIndex - 1)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                       asp-route-komorka="@Model.CurrentFilterKomorka"
                                       class="@prevHidden"
                                       aria-label="Previous">
                                        @(Model.Uzytkownik.PageIndex - 1)
                                    </a>
                                </li>
                                <li><span class="active">@Model.Uzytkownik.PageIndex</span></li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.Uzytkownik.PageIndex + 1)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                       asp-route-komorka="@Model.CurrentFilterKomorka"
                                       class="@nextHidden"
                                       aria-label="Next">
                                        @(Model.Uzytkownik.PageIndex + 1)
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.Uzytkownik.PageIndex + 2)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                       asp-route-komorka="@Model.CurrentFilterKomorka"
                                       class="@thirdHidden"
                                       aria-label="Third">
                                        @(Model.Uzytkownik.PageIndex + 2)
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.Uzytkownik.PageIndex + 3)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                       asp-route-komorka="@Model.CurrentFilterKomorka"
                                       class="@fourthHidden"
                                       aria-label="Fourth">
                                        @(Model.Uzytkownik.PageIndex + 3)
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.Uzytkownik.PageIndex + 4)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                       asp-route-komorka="@Model.CurrentFilterKomorka"
                                       class="@fifthHidden"
                                       aria-label="Fifth">
                                        @(Model.Uzytkownik.PageIndex + 4)
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="./Index"
                                       asp-route-sortOrder="@Model.CurrentSort"
                                       asp-route-pageIndex="@(Model.Uzytkownik.TotalPages)"
                                       asp-route-currentFilter="@Model.CurrentFilter"
                                       asp-route-poziomUzytkownika="@Model.CurrentFilterPZ"
                                       asp-route-komorka="@Model.CurrentFilterKomorka"
                                       class="@nextHidden"
                                       aria-label="Last">
                                        »
                                    </a>
                                </li>
                            </ul>
                            <a href="/Administracja/Panel" class="btn btn-default pull-right powrot">Wróć</a>
                        </nav>
                    </div>
                </div>
            </div><!-- .table-responsive -->
        </div>
    </div>
</div>